@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url("https://use.typekit.net/tif6uvt.css");

/* Portfolio page styling
- Is there a difference between opacity 1 and 10?
- **A better color for my header?
- how to make my grid objects have text only show when hover?
- Custom fabicon?
- *Look at my code please, is there anything you can tell is already wrong/ not best practices?
*/

html {
  height: 100%;
}

body {
  background-color: #1b1b1b;
  color: #fff;
  font-family: "Aktiv-Grotesk", "PT Sans", "Arial", sans-serif;
  margin: auto;
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.blank {
  height: 120px;
}

.skew{
  position: fixed;
  width: 100%;
  height: 100px;
  left: 0;
  top: -20px;
  background-color: #000000;
  box-shadow: 0px 10px 20px 20px #000000;
  z-index: 9;
  transform: skewY(2deg);
}

h1 {
  font-family:"Chinese-Rocks", "Purista-Web", monospace;
  font-size: 2.5em;
  letter-spacing: 0.05em;
}

h2,
h3 {
  font-family: "Purista-Web", "Londrina Solid", monospace;
  font-size: 2em;
  font-weight: 400;
  /* letter-spacing: 2px; */
}

strong {
 color: rgb(228,10,28);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  /* margin-top: 2em; */
  width: 100%;
}

#header-contents {
  padding: 30px 40px 0px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul,
header h1 {
  margin-bottom: 0;
  margin-top: 0;
}

header img {
  vertical-align: baseline;
  width: 3em;
  height: 3em;
  margin-right: 0.3em;
}

main {
  margin-left: 15%;
  margin-right: 15%;
  width: 70%;
}

h1,
nav {
  display: inline-block;
}

nav li {
  padding: 0 5px;
}

#pages {
  order: 0;
}

#pages li {
  display: inline-block;
}

#header-contents div {
  order: 1;
  display: flex;
  align-items: center;
}

#socials {
  order: 2;
  color: red;
}

#socials li {
  display: inline-block;
}

nav h1 {
  text-align: center;
  text-decoration: none;
}

#icons {
  width: 70px;
  height: 70px;
  fill: blue;
}

#icons:hover {
  fill: red;
}

header figure {
  width: 3em;
  height: 3em;
}

p,
article {
  max-width: 70ch;
}

header a {
  color: #fff;
  align-items: center;
  text-decoration: none;
}

nav a,
#header-contents h1 a,
nav a:link,
nav a:visited {
  color: #fff;
}

nav a:hover {
  color: rgb(228,10,28);
}

nav a:active {
   color: rgb(227, 118, 127);
}

a,
a:link,
a:visited {
  color: rgb(228,10,28);
}

a:hover {
   color: rgb(227, 118, 127);
}

li svg {
  width: 2em;
  height: 2em;
}

iframe {
  width: 100%;
  border: 0;
  scrolling:
}

main section{
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
  width: 100%;
}

main section img {
  width: 100%;
}

.home-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  width: 100%;
}

.home-grid h2 {
  grid-column: 1/-1;
  text-align: center;
}

.home-grid figure{
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
}

.home-grid img {
  display: block;
  width: 100%;
  /* height: 100%; */
  /* object-fit: cover; */
  transition: transform .6s;
}

.home-grid figcaption {
  font-family: "Purista-Web", "Londrina Solid", monospace;
  font-size: 2rem;
  position: absolute;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background: rgb(228,10,28, 0.6);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  opacity: 0;
  box-shadow: 0 0 39px rgb(228,10,28);
  transition: opacity .2s, visibility .2s;
}

.home-grid figure:hover figcaption {
  visibility: visible;
  opacity: 1;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  height: 70px;
  margin-top: 10px
  padding-top: 10px;
  z-index: 30;
}

footer p {
  margin: 10px auto 0 auto;
}

.skew-footer {
  position: absolute;
  bottom: 0;
  left: 40;
  width: 100%;
  height: 80px;
  transform: skewY(2deg);
  background-color: #000000;
  box-shadow: 0px 10px 20px 20px #000000;
  z-index: 25;
}

@media only screen and (max-width: 1024px) {
  #header-contents {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px 40px 0px 40px;
  }

  .skew{
    height: 120px;

    transform: skewY(2deg);
  }

  .blank {
    height: 140px;
  }

  #pages {
    order: 1;
    margin-right: auto;
  }

  #header-contents div {
    order: 0;
    display: flex;
    align-items: center;
    grid-column: 1/-1;
    margin: 0 auto 0 auto;
  }

  #socials {
    order: 2;
    color: red;
    margin-left: auto;
  }

  main section{
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 40px;
    width: 100%;
  }

  #about-grid h3 {
    font-size: 1.5em;
  }

  .home-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    width: 100%;
  }

}
